<template>
  <div class="icon-box">
    <b-img class="mb-3" fluid :src="image"></b-img>
    <h5>{{ title }}</h5>
    <p>{{ description }}</p>
  </div>
</template>

<script>
export default {
  name: 'IndexPage',
  props: {
    title: {
      type: String,
      default: 'Ödeme Güvencesi',
    },
    description: {
      type: String,
      default:
        'Ödemeleriniz 7 gün sonra mutlaka hesabınıza yatar, paranız n11’de güvende olur.',
    },
    image: {
      type: String,
      default: 'card-1.svg',
    },
  },
}
</script>

<style>
.icon-box {
  margin-bottom: 50px;
}
.icon-box h5 {
  font-weight: 700;
  font-size: 17px;
}
.icon-box p {
  margin-top: 10px;
  font-size: 13px;
  font-weight: 500;
}
</style>
