<template>
  <div>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-KVF3R5M"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <b-navbar fixed="top" toggleable="lg" type="dark" class="fixed-bar">
      <b-container>
        <b-navbar-brand tag="div" to="/"
          ><b-img class="logo" width="150" src="/logo.png"></b-img
        ></b-navbar-brand>
        <div class="ml-auto">
          <b-link
            class="white-button"
            href="https://forms.gle/XCZj719QJEgXEaYH6"
            target="_blank"
            >{{ $t('on-kayit-yap') }}</b-link
          >
          <b-dropdown
            size="lg"
            variant="link"
            toggle-class="text-decoration-none"
          >
            <template #button-content>
              <b-img
                width="25"
                :src="`/flags/flag-${$i18n.locale}.svg`"
              ></b-img>
            </template>

            <b-dropdown-item
              v-for="locale in availableLocales"
              :key="locale.code"
              @click.prevent.stop="$i18n.setLocale(locale.code)"
            >
              <b-img width="25" :src="`/flags/flag-${locale.code}.svg`"></b-img
            ></b-dropdown-item>
          </b-dropdown>
        </div>
      </b-container>
    </b-navbar>
    <b-container>
      <b-row class="justify-content-center">
        <b-col cols="8">
          <iframe
            src="https://docs.google.com/forms/d/e/1FAIpQLSc7zGJDtab_kzjSjx2hqIkYMaIRcKEPETR2mV5x-tmA8UA88A/viewform?embedded=true"
            width="100%"
            height="1800"
            class="iframe-form"
            frameborder="0"
            marginheight="0"
            marginwidth="0"
            >Yükleniyor…</iframe
          >
        </b-col>
      </b-row>
    </b-container>
    <div class="footer">
      <b-container>
        <b-row>
          <b-col cols="12" class="text-center">
            <b-img src="/logo.png" width="120" fluid></b-img>
          </b-col>
        </b-row>
      </b-container>
    </div>
  </div>
</template>

<script>
export default {
  name: 'IndexPage',
  head() {
    return {
      title: this.$t('seo.title'),
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.$t('seo.description'),
        },
        {
          hid: 'og:title',
          property: 'og:title',
          content: this.$t('seo.title'),
        },
        {
          hid: 'twitter:title',
          property: 'twitter:title',
          content: this.$t('seo.title'),
        },
        {
          hid: 'og:description',
          property: 'og:description',
          content: this.$t('seo.description'),
        },
        {
          hid: 'twitter:description',
          property: 'twitter:description',
          content: this.$t('seo.description'),
        },
      ],
    }
  },
  computed: {
    availableLocales() {
      return this.$i18n.locales.filter((i) => i.code !== this.$i18n.locale)
    },
    mapImage() {
      return `/maps/${this.$i18n.locale}-map.png`
    },
  },
}
</script>
<style>
* {
  font-family: 'Montserrat', sans-serif;
}
.fixed-bar {
  background-color: #0055b4;
}
.dropdown-menu {
  min-width: 75px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  border: none;
}
.dropdown-toggle {
  color: #fff;
}
.white-button {
  color: white;
  border: 1px solid #fff;
  padding: 10px 50px;
  border-radius: 50px;
  font-weight: 700;
  text-decoration: none;
}
.white-button:hover {
  background-color: #fff;
  color: #0055b4;
  text-decoration: none;
}
.yellow-button {
  background: #ffc400;
  color: #0055b4;
  padding: 20px 50px;
  border-radius: 100px;
  font-weight: 700;
  border: none;
}
h3 {
  font-weight: 700;
  margin-bottom: 50px;
}
.blue-color {
  background: #0055b4;
  border-radius: 30px;
}
.footer {
  background: #01418a;
  padding: 40px 20px;
}
.iframe-form {
  margin-top: 90px;
}
@media (max-width: 1200px) and (min-width: 1024px) {
  .yellow-button {
    padding: 15px 35px;
  }
  .header .header-content {
    margin-top: 6vw;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .icon-section {
    display: none;
  }
  .header h1,
  .header h2 {
    font-size: 26px;
  }
  .header p {
    font-size: 12px;
    line-height: initial;
    margin-top: 10px;
  }
  .yellow-button {
    padding: 15px 25px;
    font-size: 12px;
  }
  .footer {
    background: #01418a;
    padding: 20px 20px;
  }
}
@media (max-width: 768px) and (min-width: 320px) {
  .logo {
    width: 100px;
  }
  .header p {
    font-size: 9px;
    line-height: initial;
    margin-top: 5px;
    margin-bottom: 15px;
  }
  .header h1,
  .header h2 {
    font-size: 13px;
  }
  .yellow-button {
    padding: 10px 25px;
    font-size: 10px;
  }
  h3 {
    margin-bottom: 40px;
    font-size: 16px;
  }
  .footer {
    padding: 20px;
  }
  .white-button {
    display: none;
    padding: 10px 30px;
    font-size: 12px;
  }
}
</style>
