<template>
  <div>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-KVF3R5M"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <b-navbar fixed="top" toggleable="lg" type="dark" class="fixed-bar">
      <b-container>
        <b-navbar-brand href="#"
          ><b-img class="logo" width="150" src="/logo.png"></b-img
        ></b-navbar-brand>
        <div class="ml-auto">
          <b-link class="white-button" to="/form">{{
            $t('on-kayit-yap')
          }}</b-link>
          <b-dropdown
            size="lg"
            variant="link"
            toggle-class="text-decoration-none"
          >
            <template #button-content>
              <b-img
                width="25"
                :src="`/flags/flag-${$i18n.locale}.svg`"
              ></b-img>
            </template>

            <b-dropdown-item
              v-for="locale in availableLocales"
              :key="locale.code"
              @click.prevent.stop="$i18n.setLocale(locale.code)"
            >
              <b-img width="25" :src="`/flags/flag-${locale.code}.svg`"></b-img
            ></b-dropdown-item>
          </b-dropdown>
        </div>
      </b-container>
    </b-navbar>
    <div class="header" :style="{ backgroundImage: `url(/header.png)` }">
      <b-container>
        <b-row class="align-items-center">
          <b-col cols="7" class="header-content">
            <h1>{{ $t('title-1') }}</h1>
            <h2>{{ $t('title-2') }}</h2>
            <p>
              {{ $t('title-text') }}
            </p>
            <b-button to="/form" class="yellow-button">{{
              $t('on-kayit-yap')
            }}</b-button>
          </b-col>
          <b-col cols="5">
            <b-img src="/header-side.svg" alt="header" fluid></b-img>
          </b-col>
        </b-row>
      </b-container>
    </div>
    <div class="map">
      <b-container>
        <b-row>
          <b-col class="text-center" cols="12">
            <h3>{{ $t('map-title') }}</h3>
            <b-img fluid :src="mapImage"></b-img>
          </b-col>
        </b-row>
      </b-container>
    </div>
    <div class="card-box">
      <b-container>
        <b-row class="text-center align-items-top justify-content-center">
          <b-col cols="12">
            <h3>{{ $t('card-title') }}</h3>
          </b-col>
          <b-col md="3" cols="6" sm="4">
            <icon-box
              :title="$t('odeme-guvencesi')"
              :description="$t('odeme-guvencesi-desc')"
              image="/odeme_guvencesi.svg"
            ></icon-box>
          </b-col>
          <b-col md="3" cols="6" sm="4">
            <icon-box
              :title="$t('4-dilde-satis')"
              :description="$t('4-dilde-satis-desc')"
              image="/4_dilde_satis.svg"
            ></icon-box>
          </b-col>
          <b-col md="3" cols="6" sm="4">
            <icon-box
              :title="$t('1-haftada-kargo')"
              :description="$t('1-haftada-kargo-desc')"
              image="/1_haftada_kargo.svg"
            ></icon-box>
          </b-col>
          <b-col md="3" cols="6" sm="4">
            <icon-box
              :title="$t('50-ulkede-satis')"
              :description="$t('50-ulkede-satis-desc')"
              image="/50_ulkede_satis.svg"
            ></icon-box>
          </b-col>
          <b-col md="3" cols="6" sm="4">
            <icon-box
              class="mt-2"
              :title="$t('50-milyon-musteri')"
              :description="$t('50-milyon-musteri-desc')"
              image="/50_milyon_musteri.svg"
            ></icon-box>
          </b-col>
          <b-col md="3" cols="6" sm="4">
            <icon-box
              :title="$t('guclu-lojistik-agi')"
              :description="$t('guclu-lojistik-agi-desc')"
              image="/guclu_lojistik_agi.svg"
            ></icon-box>
          </b-col>
          <b-col md="3" cols="6" sm="4">
            <icon-box
              :title="$t('turkce-destek-sistemi')"
              :description="$t('turkce-destek-sistemi-desc')"
              image="/destek_sistemi.svg"
            ></icon-box>
          </b-col>
        </b-row>
      </b-container>
    </div>

    <div class="categories">
      <b-container>
        <b-row class="justify-content-center align-items-end text-center">
          <b-col md="12">
            <h3>{{ $t('category-title') }}</h3>
          </b-col>
          <b-col md="8">
            <b-row class="justify-content-center">
              <b-col cols="4" md="3">
                <b-img fluid src="/cat-clothing.svg"></b-img>
                <p>{{ $t('category.clothing') }}</p>
              </b-col>
              <b-col cols="4" md="3">
                <b-img fluid src="/cat-shoes.svg"></b-img>
                <p>{{ $t('category.shoes') }}</p>
              </b-col>
              <b-col cols="4" md="3">
                <b-img fluid src="/cat-bag.svg"></b-img>
                <p>{{ $t('category.bag') }}</p>
              </b-col>
              <b-col cols="4" md="3">
                <b-img fluid src="/cat-home-garden.svg"></b-img>
                <p>{{ $t('category.home-garden-supplies') }}</p>
              </b-col>
              <b-col cols="4" md="3">
                <b-img fluid src="/cat-furniture.svg"></b-img>
                <p>{{ $t('category.furniture') }}</p>
              </b-col>
              <b-col cols="4" md="3">
                <b-img fluid src="/cat-home-textile.svg"></b-img>
                <p>{{ $t('category.home-textiles') }}</p>
              </b-col>
              <b-col cols="4" md="3">
                <b-img fluid src="/cat-children.svg"></b-img>
                <p>{{ $t('category.children') }}</p>
              </b-col>
            </b-row>
          </b-col>
        </b-row>
      </b-container>
    </div>
    <b-container>
      <div class="blue-color">
        <div
          class="blue-background-card"
          :style="{
            background: `url(/blue-back-2.png) bottom right no-repeat`,
          }"
        >
          <b-row class="justify-content-center align-items-center">
            <b-col md="9" cols="12">
              <h5>{{ $t('blue-title') }}</h5>
              <p>
                {{ $t('blue-desc') }}
              </p>
            </b-col>
            <b-col md="3" cols="12" class="text-center">
              <b-button to="/form" class="yellow-button">{{
                $t('on-kayit-yap')
              }}</b-button>
            </b-col>
          </b-row>
        </div>
      </div>
    </b-container>
    <div class="footer">
      <b-container>
        <b-row>
          <b-col cols="12" class="text-center">
            <b-img src="/logo.png" width="120" fluid></b-img>
          </b-col>
        </b-row>
      </b-container>
    </div>
  </div>
</template>

<script>
import iconBox from '../components/icon-box.vue'

export default {
  name: 'IndexPage',
  components: {
    iconBox,
  },
  head() {
    return {
      title: this.$t('seo.title'),
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.$t('seo.description'),
        },
        {
          hid: 'og:title',
          property: 'og:title',
          content: this.$t('seo.title'),
        },
        {
          hid: 'twitter:title',
          property: 'twitter:title',
          content: this.$t('seo.title'),
        },
        {
          hid: 'og:description',
          property: 'og:description',
          content: this.$t('seo.description'),
        },
        {
          hid: 'twitter:description',
          property: 'twitter:description',
          content: this.$t('seo.description'),
        },
      ],
    }
  },
  computed: {
    availableLocales() {
      return this.$i18n.locales.filter((i) => i.code !== this.$i18n.locale)
    },
    mapImage() {
      return `/maps/${this.$i18n.locale}-map.png`
    },
  },
}
</script>
<style>
* {
  font-family: 'Montserrat', sans-serif;
}
.fixed-bar {
  background-color: #0055b4;
}
.dropdown-menu {
  min-width: 75px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  border: none;
}
.dropdown-toggle {
  color: #fff;
}
.white-button {
  color: white;
  border: 1px solid #fff;
  padding: 10px 50px;
  border-radius: 50px;
  font-weight: 700;
  text-decoration: none;
}
.white-button:hover {
  background-color: #fff;
  color: #0055b4;
  text-decoration: none;
}
.header {
  padding-top: 100px;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 90px;
}
.header h1 {
  color: #fff;
  font-size: 43px;
  font-weight: 700;
}
.header h2 {
  color: #fff;
  font-size: 43px;
  font-weight: 600;
}
.header p {
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.header .header-content {
  margin-top: 3vw;
}
.yellow-button {
  background: #ffc400;
  color: #0055b4;
  padding: 20px 50px;
  border-radius: 100px;
  font-weight: 700;
  border: none;
}
.icon-section {
  position: relative;
  margin-top: -8vw;
}
.map {
  margin-top: 50px;
}
.card-box {
  margin-top: 2vw;
}
h3 {
  font-weight: 700;
  margin-bottom: 50px;
}
.blue-color {
  background: #0055b4;
  border-radius: 30px;
}
.blue-background-card {
  color: #fff;
  padding: 60px 70px;
  border-radius: 30px;
  margin-top: 20px;
  margin-bottom: 50px;
}
.blue-background-card h5 {
  font-weight: 700;
  font-size: 23px;
  margin-bottom: 20px;
}
.blue-background-card p {
  margin: 0;
}
.blue-background-card .yellow-button {
  padding: 20px 0px;
  width: 100%;
}
.footer {
  background: #01418a;
  padding: 40px 20px;
}
.categories p {
  margin-top: 10px;
  font-weight: 600;
  font-size: 14px;
}
.categories img {
  height: 50px;
}
@media (min-width: 2300px) {
  .icon-section {
    position: relative;
    margin-top: -5vw;
  }
  .header .header-content {
    margin-top: 2vw;
  }
}
@media (min-width: 1920px) {
  .icon-section {
    position: relative;
    margin-top: -7vw;
  }
  .header .header-content {
    margin-top: 2vw;
  }
}
@media (min-width: 1200px) and (max-width: 1500px) {
  .icon-section {
    position: relative;
    margin-top: -9vw;
  }
  .card-box {
    margin-top: -6vw;
  }
}
@media (max-width: 1200px) and (min-width: 1024px) {
  .icon-section {
    display: none;
  }
  .card-box {
    margin-top: 3vw;
  }
  .header {
    padding-bottom: 150px;
  }
  .yellow-button,
  .blue-background-card .yellow-button {
    padding: 20px 35px;
  }
  .blue-background-card {
    padding: 45px 40px;
  }
  .blue-background-card h5 {
    font-size: 21px;
    margin-bottom: 10px;
  }
  .icon-section {
    display: none;
  }
  .header h1,
  .header h2 {
    font-size: 33px;
  }
  .header p {
    font-size: 16px;
    line-height: initial;
    margin-top: 10px;
  }
  .yellow-button {
    padding: 15px 35px;
  }
  .header .header-content {
    margin-top: 6vw;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .icon-section {
    display: none;
  }
  .header h1,
  .header h2 {
    font-size: 26px;
  }
  .header p {
    font-size: 12px;
    line-height: initial;
    margin-top: 10px;
  }
  .yellow-button {
    padding: 15px 25px;
    font-size: 12px;
  }
  .header {
    padding-bottom: 75px;
  }
  .header .header-content {
    margin-top: 6vw;
  }
  .header h1,
  .header h2 {
    font-size: 28px;
  }
  .header p {
    font-size: 16px;
    line-height: initial;
    margin-top: 10px;
  }
  .card-box {
    margin-top: 3vw;
  }
  .blue-background-card {
    padding: 30px;
    margin-top: 20px;
  }
  .blue-background-card h5 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .blue-background-card p {
    font-size: 12px;
  }
  .footer {
    background: #01418a;
    padding: 20px 20px;
  }
}
@media (max-width: 768px) and (min-width: 320px) {
  .logo {
    width: 100px;
  }
  .header p {
    font-size: 9px;
    line-height: initial;
    margin-top: 5px;
    margin-bottom: 15px;
  }
  .header h1,
  .header h2 {
    font-size: 13px;
  }
  .yellow-button {
    padding: 10px 25px;
    font-size: 10px;
  }
  .icon-section {
    display: none;
  }
  .card-box {
    margin-top: 3vw;
  }
  h3 {
    margin-bottom: 40px;
    font-size: 16px;
  }
  .icon-box {
    margin-bottom: 30px;
  }
  .icon-box h5 {
    font-size: 13px;
  }
  .icon-box p {
    margin-top: 10px;
    font-size: 11px;
  }
  .icon-box img {
    width: 50px;
  }
  .blue-background-card {
    padding: 25px 25px;
    margin-bottom: 25px;
  }
  .blue-background-card h5 {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .blue-background-card p {
    margin: 0;
    font-size: 10px;
  }
  .blue-background-card {
    text-align: center;
  }
  .blue-background-card .yellow-button {
    margin-top: 10px;
    padding: 10px 0px;
  }
  .footer {
    padding: 20px;
  }
  .white-button {
    display: none;
    padding: 10px 30px;
    font-size: 12px;
  }
  .categories img {
    width: 30px;
  }
  .categories p {
    font-size: 11px;
  }
}
</style>
